{% extends "components/layout.html" %}

{% block title %}{{ category }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ category }}</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="data-card">
                        <h3>{{ product.Name }}</h3>
                        <p>Precio: {{ product.Price }}</p>
                        <a href="{{ product.Link }}" target="_blank">Ver producto</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}