<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>WebScraper</h1>
            <div class="header-buttons">
                {% if is_logged_in %}
                <button onclick="window.location.href='/user'">Perfil</button>
                {% else %}
                <button onclick="window.location.href='/login'">Login</button>
                <button onclick="window.location.href='/signup'">Sign Up</button>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="container">
        <h2 class="section-title">{{ product_name }}</h2>
        <div class="product-detail">
            <img src="{{ product_image }}" alt="{{ product_name }}">
            <p><strong>Precio:</strong> {{ product_price }}</p>
            <p><strong>Disponibilidad:</strong> {{ product_availability }}</p>
            <p><strong>Descripción:</strong> {{ product_description }}</p>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 WebScraper App. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
